<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- Internet permission introduced by ML Kit's telemetry dependencies is
         removed. AICore manages any system configuration access independently. -->
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
    <application android:label="Trip Companion AI Check"
        android:icon="@drawable/ic_check"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:allowBackup="false" android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
